<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC2K_1Z3MdKC6Z5yyOYrGMYzO9r4UO6mY</string>
	<key>GCM_SENDER_ID</key>
	<string>1009445090491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hcareapp</string>
	<key>PROJECT_ID</key>
	<string>hcareapp-ee339</string>
	<key>STORAGE_BUCKET</key>
	<string>hcareapp-ee339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009445090491:ios:877ab88c20c97467df659e</string>
</dict>
</plist>